<br><h3>Edit <%= @resource_note.title %> note</h3>
<%= link_to "Delete Note", resource_note_path(@resource, @resource_note), data: { method: :delete } %><br><br>

<%= render '/errors/error', object: @resource_note %>

<%= render 'display'%>

<%= render 'form' %> 