<h1> Research Goal: <%= @research_goal.name %> </h1>

<%= link_to 'See resources for this goal', research_goal_resources_path(@research_goal) %> |
<%= link_to 'Edit this goal', edit_research_goal_path(@research_goal) %> |
<%= link_to 'Delete this goal',  research_goal_path(@research_goal), data: { method: :delete } %>
<%= render 'display'%>
