<br><h3>Edit <%= @research_goal_note.title %> note</h3>
<%= link_to "Delete Note", research_goal_research_goal_note_path(@research_goal, @research_goal_note), data: { method: :delete } %><br><br>

<%= render '/errors/error', object: @research_goal_note %>

<%= render 'display'%>

<%= render 'form' %>