<p>Part of the <%= @resource.research_goal.name %> research goal</p>
<p>Key topics: <%=@resource.key_topics%></p>
<% if !@resource.website.empty? %>
  <p>URL: <%= link_to "Go there", @resource.website%></p>
<% end %>

<h2>Notes</h2>

<%= link_to 'Add a note for this resource', new_resource_resource_note_path(@resource) %><br><br>

<div>
  <% @resource.resource_notes.each do |note| %>
    <li><%= note.title %> -- <%= note.content %> <%=link_to 'edit', edit_resource_resource_note_path(@resource, note)%></li>
  <% end %>
</div>