<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Key Topics</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  
<div class="container center">
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form_control" %>
    </div>
        <br>
    <div class="form-group">
        <%= f.label :key_topics %>
        <%= f.text_field :key_topics %><br><br>
    </div>
    <div class="form-group">
        <label for="journal_id">Choose existing journal: </label>
        <%= f.collection_select :journal_id, Journal.all, :id, :name, :prompt => '- Select -' %>
        <%= f.hidden_field :research_goal_id %>
    </div>
        <br>

    <%= f.submit %>

  </div>