<% if @research_goal %>
  <h1>Edit Resource for the <%= @research_goal.name %> goal </h1>
<% else %>
  <h1>Edit <%= @resource.title %></h1>
<% end %>

<%= render '/errors/error', object: @resource %>

<%= render 'display' %>

<%= render 'form' %>  
