<% if @research_goal %>
  <h1>Add A New Resource for the <%= @research_goal.name %> </h1>
<% else %>
  <h1>Add A New Resource</h1>
<% end %>

<%# move this to a partial %>
<% if @resource.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>
 
    <ul>
    <% @resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<h1>Add a New Resource</h1>

<%= render '/errors/error', object: @resource %>

<%= form_for ([@research_goal, @resource]) do |f| %>
  <%= render 'form', f: f %>
<% end %>
