<h1><%= @resource.title %></h1>
<%= link_to 'Edit this resource', edit_resource_path(@resource) %> |
Paper published at <%= link_to @resource.journal.name, @resource.journal.website %> 

<% if !@resource.website == nil %>
   | Find resource <%= link_to "Here", @resource.website %>
<% end %>

<p>Part of the <%= @resource.research_goal.name %> research goal</p>
<p>Key topics: <%=@resource.key_topics%></p>

<h2>Notes</h2>
<%= @resource.notes %>