<h1><%= @resource.title %></h1>
<%= link_to 'Edit this resource', edit_resource_path(@resource) %> |
Paper published at <%= link_to @resource.journal.name, @resource.journal.website %> 

<% if !@resource.website == nil %>
   | Find resource <%= link_to "Here", @resource.website %>
<% end %>

<%= render 'display'%>

<h2>Notes</h2>
<%= @resource.notes %>