<h1>All Journals</h1>
<%= link_to "Add Journal", new_journal_path%>

<ul>
<% @journals.each do |journal| %>
  <li><%= journal.name %> | <%= link_to journal.website, journal.website if journal.website %> | Open source: <%= journal.open_source? %> | <%= link_to "edit", "/journals/#{journal.id}/edit"%></li>
<% end %>
</ul>